<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/resource/css/login_style.css">
    <meta charset="UTF-8">
    <title>{{.WebsiteTitle}} </title>
</head>
<body>
    <h1>{{.H1Heading}}</h1>
    <p>{{.BodyParagraphText}}</p>
    <form id="loginForm">
        <div style="color: green; margin-bottom: 10px;" id="responseMessage">
        </div>
 
        <div>
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" required>
        </div><br>

        <div>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required>
        </div><br>

        <div>
            <button type="submit">Login</button>
        </div>        
        <input type="hidden" name="nonce" value="{{ .Nonce }}"/>
        <input type="hidden" name="hashed" value=""/>
    </form>
</body>
<script src="/resource/js/security.js"></script>
    
</html>