<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.WebsiteTitle}}</title>
    <link rel="stylesheet" href="/resource/css/login_style.css">
</head>
<body>
    <h1>{{.H1Heading}}</h1>
    <p>{{.BodyParagraphText}}</p>

    <form id="registerForm" action="/register" method="POST">
        {{if .PostResponseMessage}}
        <div style="color: green; margin-bottom: 10px;">
            {{ .PostResponseMessage }}
        </div>
        {{end}}

        <div>
            <label for="applicantname">Applicant Name:</label><br>
            <input type="text" id="applicantname" name="applicantname" required>
        </div><br>

        <div>
            <label for="applicantemail">Applicant Email:</label><br>
            <input type="email" id="applicantemail" name="applicantemail" required>
        </div><br>

        <div>
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" required>
        </div><br>

        <div>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required>
        </div><br>

        <button type="submit">Register</button>
    </form>

    <script src="/resource/js/security.js"></script>
</body>
</html>
